.container
  .page-header
    = link_to shouts_path, :class => 'btn btn-default' do
      %span.glyphicon.glyphicon-list-alt
      Back
    = link_to @shout, :class => 'btn btn-primary' do
      %span.glyphicon.glyphicon-info-sign
      Show
    %h1 Editing shout

  = render 'form'
