#bg_tag
  - %w{ crickets.jpg gaudi.jpg gaudi2.jpg happy_alpha.jpg jupiter.jpg oriondust_villegas_1900.jpg sailing.jpg switzerland.jpg }.each do |i|
    .stacked
      = image_tag i

.container
  .row
    .thought

- content_for :javascripts do
  :javascript
    $(function() {
      have_thought( JSON.parse('#{escape_javascript( @shout.to_json )}') );
    });
    
