= image_tag "switzerland.jpg", id: "bg"

.container
  .row
    .thought
      %span.to Will Schenk
      really killed that budget meeting, awesome job
      %span.from
        Ben Schippers
        = "-"
        = link_to "HFC", "#"
