---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/users.list
    body:
      encoding: UTF-8
      string: token=xoxp-2452601099-2452601107-3650598663-873f40
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - read
      X-Oauth-Scopes:
      - identify,read,post,client,admin
    body:
      encoding: UTF-8
      string: '{"ok":true,"members":[{"id":"U0342HA8D","name":"aarondaub","deleted":false,"status":null,"color":"e96699","real_name":"","tz":"America\/Indiana\/Indianapolis","tz_label":"Eastern
        Standard Time","tz_offset":-18000,"profile":{"real_name":"","real_name_normalized":"","email":"adaub@happyfuncorp.com","image_24":"https:\/\/secure.gravatar.com\/avatar\/8c19e92f62878a23e18519112c9044c1.jpg?s=24&d=https%3A%2F%2Fslack.global.ssl.fastly.net%2F8390%2Fimg%2Favatars%2Fava_0009-24.png","image_32":"https:\/\/secure.gravatar.com\/avatar\/8c19e92f62878a23e18519112c9044c1.jpg?s=32&d=https%3A%2F%2Fslack.global.ssl.fastly.net%2F8390%2Fimg%2Favatars%2Fava_0009-32.png","image_48":"https:\/\/secure.gravatar.com\/avatar\/8c19e92f62878a23e18519112c9044c1.jpg?s=48&d=https%3A%2F%2Fslack.global.ssl.fastly.net%2F8390%2Fimg%2Favatars%2Fava_0009-48.png","image_72":"https:\/\/secure.gravatar.com\/avatar\/8c19e92f62878a23e18519112c9044c1.jpg?s=72&d=https%3A%2F%2Fslack.global.ssl.fastly.net%2F8390%2Fimg%2Favatars%2Fava_0009-72.png","image_192":"https:\/\/secure.gravatar.com\/avatar\/8c19e92f62878a23e18519112c9044c1.jpg?s=192&d=https%3A%2F%2Fslack.global.ssl.fastly.net%2F8390%2Fimg%2Favatars%2Fava_0009.png"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"has_files":true},{"id":"U036L3R99","name":"alannadukes","deleted":false,"status":null,"color":"db3150","real_name":"","tz":"America\/Indiana\/Indianapolis","tz_label":"Eastern
        Standard Time","tz_offset":-18000,"profile":{"real_name":"","real_name_normalized":"","email":"alanna@happyfuncorp.com","image_24":"https:\/\/secure.gravatar.com\/avatar\/195ddb24fb2234bd4293bcdccafc74e4.jpg?s=24&d=https%3A%2F%2Fslack.global.ssl.fastly.net%2F8390%2Fimg%2Favatars%2Fava_0010-24.png","image_32":"https:\/\/secure[...]
