//-----------------------------------------
// Variables, customize bootstrap here
//-----------------------------------------
@import 'variables';

@font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

$navbar-default-bg: #fff;
$navbar-default-border: none;

@import 'bootstrap-sprockets';
@import 'bootstrap';

.kiosk {
  .navbar {
    opacity: 0;
    transition: opacity .5s;
  }
  .navbar:hover {
    opacity: 1;
    transition: opacity 1.5s;
  }
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #222;
  .zoomer {
    transition: all 6s;
    &.pan {
      // margin-top: -30px;
      // margin-left: 40px;
      // // transition: margin 5s;
      // // transition: scale 4s;
      transform: scale( 1.1 );
      // -webkit-transform: scale( 1.1 );
    }    
  }
  img {
    opacity: 0;
    translate: transform3d( 0,0,0);
    transition: opacity 1s ease-in-out;
  }
}

.thought {
  @extend .col-lg-6;
  @extend .col-lg-offset-3;

  @extend .col-md-6;
  @extend .col-md-offset-3;

  @extend .col-sm-8;
  @extend .col-sm-offset-2;
  color: white;

  font-size: 48px;
  font-weight: 200;

  .to {
    font-weight: 500;
  }
}

// This is used by the devise generated views.
.center_panel {
  @extend .col-lg-6;
  @extend .col-lg-offset-3;

  @extend .col-md-6;
  @extend .col-md-offset-3;

  @extend .col-sm-8;
  @extend .col-sm-offset-2;
}